<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .buy{
    width: 800px;
    height: 450px;
}
.buy h1 {
    font-size: 50px;
}
.buy p {
    font-size: 30px;
}
.buy text {
    margin-right: 400px;
}
.buy img {
    height:200px;
    width: 200px;
border-radius: 20px;
margin-left: 500px;

}y button {
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 26px 42px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  display: flex;
   
}
    </style>
</head>
<body>
    <div class="buy">
        <div class="text"> <h1>All public services in alif mobi</h1>
         <p>Pay for taxes, electricity, water and other public services easily</p></div>
         <div class="img"><img src="https://alifwebsite.alif.tj/uploads/avto_572bc5d668.png" alt=""></div>
         <div><button>Download</button></div>
     </div>
</body>
</html>